.text-white {
  color: #fff;
}

.text-dark {
  color: color('dark');
}

.text-primary {
  color: color('primary');
}

.text-primary-dark {
  color: color('primary', 'darkest');
}

.text-positive {
  color: color('positive');
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}
