.invisible {
  visibility: hidden !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.m-auto {
  margin: 0 auto;
}

.right {
  right: 50%;
}

.right-0 {
  right: 0;
}

.left {
  left: 50%;
}

.left-0 {
  left: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}
