@font-face {
  font-family: RedHatText;
  src: url('~@/assets/fonts/RedHatText-Light.ttf');
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: RedHatText;
  src: url('~@/assets/fonts/RedHatText-Regular.ttf');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: RedHatText;
  src: url('~@/assets/fonts/RedHatText-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: RedHatText;
  src: url('~@/assets/fonts/RedHatText-Bold.ttf');
  font-weight: 700;
  font-display: block;
}
